/nvim/lazy-lock.json
/pulse/
/systemd/
/discord/
/pavucontrol.ini
vlc/
QtProject.conf
VirtualBox/
/dconf/
nvim/lazyvim.json
/cef_user_data/
user-dirs.dirs
user-dirs.locale
GIMP/
aseprite/
composer/
Code - OSS
gtk-2.0/gtkfilechooser.ini
menus/
config_dotfiles/vim/.netrwhist
config_dotfiles/vim/pack
config_dotfiles/nvim/lazy-lock.json
