/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: FiraCodeNerdFont;
    font-weight: bold;
}

/* The whole bar */
window#waybar {
  border: solid 1px rgba(0, 200, 255, 0.4);
  opacity: 0.80;
	color: #fdf6e3;
  background-color: black;
}

/* Each module */
#mode,
#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#network,
#custom-keyboard-layout,
#clock {
  padding: 0px 10px;
}

#mode,
#cpu,
#memory,
#temperature,
#battery {
  border-right: solid 3px rgba(0, 200, 255, 0.5);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#pulseaudio,
#network,
#custom-keyboard-layout,
#clock {
  border-left: solid 3px rgba(0, 200, 255, 0.5);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

#image {
  padding: 2px 50px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

/* #cpu { */
/* } */

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background-color: red;
    padding: 0px 20px;
    font-weight: bold;
    /* To compensate for the top border and still have vertical centering */
}

/* #network { */
/* } */

#network.disconnected {
    color: orange;
}

/* #pulseaudio { */
/* } */
/**/
/* #pulseaudio.muted { */
/* } */

#custom-spotify {
    color: rgb(102, 220, 105);
}

/* #temperature { */
/* } */

#temperature.critical {
    color: red;
}

/* #tray { */
/* } */

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding: 2px 30px;
    color: #888888;
    border-radius: 0px 10px 0px 0px;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
